<a href="https://colab.research.google.com/github/theAkhileshRai/NLP/blob/master/NLP01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
sentence = "Thomas jefferson began  building Monticello at age of 26."

token_sequence = sentence.split()

In [5]:
vocab = sorted(set(token_sequence))

In [8]:
vocab

['26.',
 'Monticello',
 'Thomas',
 'age',
 'at',
 'began',
 'building',
 'jefferson',
 'of']

In [9]:
', '.join(vocab)

'26., Monticello, Thomas, age, at, began, building, jefferson, of'

In [10]:
num_tokens = len(token_sequence)
vocab_size = len(vocab)

In [13]:
onehot_vectors = np.zeros((num_tokens,vocab_size), int)

In [19]:
onehot_vectors

array([[0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [20]:
for i,word in enumerate(token_sequence):
  onehot_vectors[i,vocab.index(word)] =1

In [21]:
onehot_vectors

array([[0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0]])

In [22]:
df = pd.DataFrame(onehot_vectors,columns=vocab)

In [23]:
df

   26.  Monticello  Thomas  age  at  began  building  jefferson  of
0    0           0       1    0   0      0         0          0   0
1    0           0       0    0   0      0         0          1   0
2    0           0       0    0   0      1         0          0   0
3    0           0       0    0   0      0         1          0   0
4    0           1       0    0   0      0         0          0   0
5    0           0       0    0   1      0         0          0   0
6    0           0       0    1   0      0         0          0   0
7    0           0       0    0   0      0         0          0   1
8    1           0       0    0   0      0         0          0   0